:root {
  --color: rgb(111, 118, 131);
  --border: rgb(61, 67, 77);
}

body, html {
  background-color: rgb(34, 36, 39);
  font-family: monospace;
}

@font-face {
  font-family: SegoeIcons;
  src:url("/assets/SegoeFluentIcons.ttf");
}

::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: var(--border);
  font-style: italic;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  resize: none;
  background-color: rgb(34, 36, 39);
  outline: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 13.75px;
  border-right: 1px solid var(--border);
  line-height: 80%;
  letter-spacing: 2px;
}

#code {
  position: fixed;
  right: 0;
  top: 0;
  width: 49%;
  height: 90%;
  resize: none;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color);
  font-size: 14pt;
  overflow-wrap: break-word;
  padding-left: 5px;
  overflow-y: scroll;
  z-index: -1;
}

#controls {
  position: fixed;
  z-index: 2;
  top: 93%;
  width: auto;
  height: auto;
  left: 51%;
  background-color: rgb(34, 36, 39);
  border: none;
}

#lines {
  position: relative;
  z-index: 2;
  width: 40px;
  height: auto;
  padding: 10px;
  background-color: rgb(34, 36, 39);
  border: none;
  border-bottom: 1px solid var(--border);
  color: var(--color);
  outline: none;
  margin-right: 5px;
}

#generate {
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(34, 36, 39);
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--color);
  cursor: pointer;
  font-family: SegoeIcons, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin-right: 5px;
}

#place {
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(34, 36, 39);
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--color);
  cursor: pointer;
  font-family: SegoeIcons, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin-right: 5px;
}

#copy {
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(34, 36, 39);
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--color);
  cursor: pointer;
  font-family: SegoeIcons, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin-right: 5px;
}

#cvs {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  z-index: -1;
  image-rendering: pixelated;
  filter: grayscale();
}

#counter {
  position: fixed;
  bottom: 0;
  right: 10px;
  color: white;
  font-size: 10pt;
  margin: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}